body {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: white;
}

.intro {
	top: 0px;
	left: 30px;
}

main {
	height: 1000px;
}

.nav {
	background-image: linear-gradient(to right, #0062a7, #39b8dc);
	height: 100px;
	font-size: 50px;
	display: flex;
	justify-content: space-around;
	
}

.nav a {
	color: #ffffff;
	text-decoration: none;
	
}

.katalog:hover {
	transition: 2s;
	font-size: 80px;
	color: #d6d6d6;
}

.kon:hover {
	transition: 2s;
	font-size: 80px;
	color: #d6d6d6;
}

.cem:hover {
	transition: 2s;
	font-size: 80px;
	color: #d6d6d6;
}

.deh:hover {
	transition: 2s;
	font-size: 80px;
	color: #d6d6d6;
}
